.wizard > .content
{
    background: #eee;
    display: block;
    margin: 5px 5px 10px 5px;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 600px)
{
.wizard > .steps > ul > li
{
    width: 50%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    margin-top: 0.5em;
}

.wizard.vertical > .steps,
.wizard.vertical > .actions
{
    display: block;
    float: none;
    width: 100%;
}

.wizard.vertical > .content
{
    display: block;
    float: none;
    margin: 0 0.5em 0.5em;
    width: auto;
}
}

@media (max-width: 480px)
{
.wizard > .steps > ul > li
{
    width: 100%;
}
}
